@page

@model TempleToursProject.Pages.BuyModel

@{
    ViewBag.Title = "Your Tours";
    ViewBag.SubTitle = "";
    ViewBag.Background = "/img/mountain.jpg";
}


<span class="float-right"><a class="btn btn-primary" href="@Model.ReturnUrl">Back to Available Tours</a></span>

<table class="table table-hover">

    <thead>
        <tr>
            <th scope="col">Book</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Subtotal</th>
        </tr>
    </thead>
    @* For loop that will go through the model and display all the results *@
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
        <tr>
            <td class="text-left">@line.GroupInfo.GroupName</td>
            <td class="text-left">@line.Quantity</td>
            <td class="text-left">@line.GroupInfo.GroupSize</td>

            @* Remove from Cart -- From Freeman Textbook Ch.9 *@
            <td class="text-center">
                <form asp-page-handler="Remove" method="post">
                    <input type="hidden" name="BookID"
                           value="@line.GroupInfo.GroupInfoId" />
                    <input type="hidden" name="returnUrl"
                           value="@Model.ReturnUrl" />
                    <button type="submit" class="btn btn-sm btn-danger">
                        Remove
                    </button>
                </form>
            </td>


            @*@foreach (var subtotal in )
        <td>@(line.Quantity * line.BookModel.Price)</td>*@
        </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3" class="text-right"><b>Total:</b></td>
        </tr>
    </tfoot>

</table>